.App {
  text-align: center;

}

.btn-all{
  font-size: 12px;
  background-color: #5d737e;
  width:15%;
  height: 30px;
  margin: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  align-self: center;
  color:antiquewhite;
}
@media(min-width: 768px) {
  .btn-all{
    width:100px;
    height: 40px;
  }
}

.images {
  margin: auto;
  padding: 10px;
}

p{
  font-family: 'Poppins', sans-serif;
}